{% extends "layout.html" %} {% block content %}
<div class="container">
  <div
    class="text-center mt-5"
    style="border-radius: 8px; background-image: url(static/img/bg-01.jpg);"
  >
    <div style="background-color: black; opacity: 0.5; padding: 82px;">
      <h1 style="color: white;">LOGIN</h1>
    </div>
  </div>
  <form class="text-center m-5" method="POST" action="{{ url_for('login') }}">
    <h3 class="mb-1">Welcome</h3>
    <img
      src="{{ url_for('static',filename='icons/registericon.png')}}"
      style="width: 20px;"
    />
    <a href="/register" style="text-decoration: none;"><b>Create account</b></a>
    <br /><input
      type="text"
      class="mt-5"
      style="padding: 5px; width: 500px;"
      name="Username"
      placeholder="Email"
      value=""
    /><br />
    <input
      type="password"
      class="mt-3"
      style="padding: 5px; width: 500px;"
      name="Password"
      type="password"
      placeholder="Password"
      value=""
    /><br />
    <b style="color: red;">{{error}}</b>
    <br /><button
      class="btn mt-5"
      style="
        width: 200px;
        padding: 5px;
        background-color: #e71c23;
        color: white;
      "
      type="submit"
    >
      <b>Login</b>
    </button>
    <br /><img
      src="{{ url_for('static',filename='icons/forgeticon.png')}}"
      style="width: 20px;"
    />
    <a href="#" style="text-decoration: none;"><b>Forget password</b></a>
  </form>
</div>

{% endblock %}
