{% extends "layout.html" %}

{% block content %}

<div class="container mt-5 mb-3">
<h5>Purchsed Products</h5>
<hr>
<div class="row">
    <div class="col-9">
      <ul class="list-unstyled ml-1">
        <li class="media">
          <img
            class="mr-3"
            src="static/img/product-1.jpg"
            alt="Generic placeholder image"
            width="20%"
          />
          <div class="media-body">
            <b class="mt-0 mb-1">List-based media object</b><br>
            <label>Lenova - 26 product Sold</label>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus.</p>
            
            
            <b style="color: gray;">Write Review</b>
            <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
            <select class="custom-select mt-3" style="width:200px;" id="inlineFormCustomSelectPref">
            <option selected>5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select><br>
            <button class="btn btn-primary mt-3"><b>Submit</b></button>
        
        
        </div>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <h5>Rs 1500</h5>
      <h6><strike>Rs 2000</strike></h6>
      <span class="fa fa-star" style="color: #ffce1b;"></span>
      <span class="fa fa-star" style="color: #ffce1b;"></span>
      <span class="fa fa-star" style="color: #ffce1b;"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>4.6
      <br />
      (1,000+ Ratings)
      <br />
      <a href="#" style="text-decoration: none;" class="mt-1"><b>View</b></a>
    </div>
  </div>
      <hr>
      <div class="row">
        <div class="col-9">
          <ul class="list-unstyled ml-1">
            <li class="media">
              <img
                class="mr-3"
                src="static/img/product-1.jpg"
                alt="Generic placeholder image"
                width="20%"
              />
              <div class="media-body">
                <b class="mt-0 mb-1">List-based media object</b><br>
                <label>Lenova - 26 product Sold</label>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus.</p>
                
                
                <b style="color: gray;">Write Review</b>
                <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
                <select class="custom-select mt-3" style="width:200px;" id="inlineFormCustomSelectPref">
                <option selected>5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select><br>
                <button class="btn btn-primary mt-3"><b>Submit</b></button>
            
            
            </div>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h5>Rs 1500</h5>
          <h6><strike>Rs 2000</strike></h6>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>4.6
          <br />
          (1,000+ Ratings)
          <br />
          <a href="#" style="text-decoration: none;" class="mt-1"><b>View</b></a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-9">
          <ul class="list-unstyled ml-1">
            <li class="media">
              <img
                class="mr-3"
                src="static/img/product-1.jpg"
                alt="Generic placeholder image"
                width="20%"
              />
              <div class="media-body">
                <b class="mt-0 mb-1">List-based media object</b><br>
                <label>Lenova - 26 product Sold</label>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus.</p>
                
                
                <b style="color: gray;">Write Review</b>
                <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
                <select class="custom-select mt-3" style="width:200px;" id="inlineFormCustomSelectPref">
                <option selected>5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select><br>
                <button class="btn btn-primary mt-3"><b>Submit</b></button>
            
            
            </div>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h5>Rs 1500</h5>
          <h6><strike>Rs 2000</strike></h6>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>4.6
          <br />
          (1,000+ Ratings)
          <br />
          <a href="#" style="text-decoration: none;" class="mt-1"><b>View</b></a>
        </div>
      </div>
      <hr>
    <div class="row">
        <div class="col-9">
          <ul class="list-unstyled ml-1">
            <li class="media">
              <img
                class="mr-3"
                src="static/img/product-1.jpg"
                alt="Generic placeholder image"
                width="20%"
              />
              <div class="media-body">
                <b class="mt-0 mb-1">List-based media object</b><br>
                <label>Lenova - 26 product Sold</label>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus.</p>
                
                
                <b style="color: gray;">Write Review</b>
                <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
                <select class="custom-select mt-3" style="width:200px;" id="inlineFormCustomSelectPref">
                <option selected>5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select><br>
                <button class="btn btn-primary mt-3"><b>Submit</b></button>
            
            
            </div>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h5>Rs 1500</h5>
          <h6><strike>Rs 2000</strike></h6>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star" style="color: #ffce1b;"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>4.6
          <br />
          (1,000+ Ratings)
          <br />
          <a href="#" style="text-decoration: none;" class="mt-1"><b>View</b></a>
        </div>
      </div>
</div>

{% endblock %}